<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{cliente/fragments/layout}">

	
<head>
    
    <title>Sobre a LC Blend Gourmet</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            text-align: center;
            margin-bottom: 20px;
        }

        section {
            max-width: 800px;
            margin: 0 auto;
        }

        h2 {
            color: #693504;
        }

        p {
            line-height: 1.6;
        }
    </style>
</head>
<body>

<header>
    <h1>LC Blend Gourmet</h1>
    <p>Seu destino para café gourmet de alta qualidade.</p>
</header>

<section>
    <h2>Nossa História</h2>
    <p>A LC Blend Gourmet nasceu da paixão pelo café e o desejo de oferecer aos nossos clientes uma experiência única de sabores e aromas. 
		Fundada em [ano de fundação], tornamo-nos um ponto de referência para os amantes de café que buscam qualidade e variedade.</p>
    

    <h2>Nossos Produtos</h2>
    <p>Selecionamos cuidadosamente os melhores grãos de café de origens diversas, garantindo que cada xícara conte uma história de sabor. Desde blends exclusivos até opções single origin, nossa coleção atende a todos os paladares.</p>

    <h2>Compromisso com a Qualidade</h2>
    <p>Na LC Blend Gourmet, a qualidade é nossa prioridade. Trabalhamos em estreita colaboração com produtores de café, utilizando práticas sustentáveis para preservar o meio ambiente e promover o bem-estar das comunidades envolvidas na produção do café.</p>

    <h2>Visite-nos</h2>
    <p>Convidamos você a visitar nossa loja e explorar o mundo fascinante do café gourmet. Venha compartilhar uma xícara de café conosco e descubra o que torna a LC Blend Gourmet única.</p>
</section>

<footer>
        <p>&copy; 2023 LC Blend Gourmet</p>
    </footer>
</body>
</html>
