<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
    <title>Página principal Administrativa</title>
</head>
<body>
		<section class="layout-content" layout:fragment="corpo">

			<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><i class="oi oi-caret-right"></i>
							<span>Home</span></li>
					</ul>
				</div>
			</nav>

			<div class="container">
				<div id="list-home" class="row">
					<div class="col-4">
						<div class="list-group" id="list-tab" role="tablist">
							<a class="list-group-item list-group-item-action active"
								id="list-spring-boot-list" data-toggle="list"
								href="#spring-boot" role="tab" aria-controls="spring-boot">Sobre</a>
							<a class="list-group-item list-group-item-action"
								id="list-sts-list" data-toggle="list" href="#sts" role="tab"
								aria-controls="sts">Pedidos</a> <a
								class="list-group-item list-group-item-action"
								id="list-webjars-list" data-toggle="list" href="#webjars"
								role="tab" aria-controls="webjars">Contato</a> <a
								class="list-group-item list-group-item-action"
								id="list-hibernate-list" data-toggle="list" href="#hibernate"
								role="tab" aria-controls="hibernate">Curiosidades</a>
						</div>
					</div>
					<div class="col-8">
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="spring-boot"
								role="tabpanel" aria-labelledby="list-spring-boot-list">
								A <strong> LC Blend Gourmet</strong> nasceu da paixão pelo café e o desejo de oferecer aos nossos clientes uma experiência única de sabores e aromas. 
		Fundada em 1999, tornamo-nos um ponto de referência para os amantes de café que buscam qualidade e variedade. <br><br>
			Na <strong>LC Blend Gourmet</strong>, dedicamo-nos 
apaixonadamente a proporcionar momentos especiais através da magia do café gourmet. 
Nossos grãos são selecionados com cuidado, provenientes das regiões mais exuberantes do mundo, 
para criar blends irresistíveis que despertam os sentido.<br><br>

Nossa missão é elevar a cultura do café, oferecendo não apenas bebidas excepcionais, mas também um ambiente acolhedor e sofisticado. 
Quer você seja um conhecedor 
de café ou esteja apenas começando sua jornada, aqui você encontrará algo que atenda aos seus gostos.<br><br>

Na LC Blend Gourmet, não se trata apenas do café; é sobre criar momentos de deleite. Nossos baristas são artesãos dedicados, 
prontos para transformar cada pedido em uma obra-prima aromática. Desde os clássicos expressos até as criações exclusivas, cada 
bebida é preparada com paixão e perfeição.<br><br>

Além do café extraordinário, oferecemos uma variedade de delícias culinárias para acompanhar. De bolos frescos a snacks gourmet, 
nossa seleção é cuidadosamente elaborada para complementar a experiência sensorial que é a LC Blend Gourmet.
							</div>
							<div class="tab-pane fade" id="sts" role="tabpanel"
								aria-labelledby="list-sts-list">

							</div>
							<div class="tab-pane fade" id="webjars" role="tabpanel"
								aria-labelledby="list-webjars-list">
									Junte-se a nós enquanto exploramos o mundo fascinante do café, 
onde a tradição se encontra com a inovação, e cada chávena conta uma história única. 
Na LC Blend Gourmet, não estamos apenas servindo café; estamos proporcionando uma jornada de sabor, aroma e descoberta.<br><br>

<h6><p>Mande o seu curriculo para </p>contato@lcblend.com</h6>
							</div>
							<div class="tab-pane fade" id="hibernate" role="tabpanel">
							<b>Descoberta Acidental:</b> A lenda conta que a descoberta do café ocorreu 
quando um pastor etíope chamado Kaldi percebeu que suas cabras ficavam mais 
animadas após comer os grãos vermelhos de uma planta.
 Ao experimentar esses grãos, Kaldi também experimentou uma sensação de energia renovada, e 
assim começou a jornada do café.<br><br>

<b>A Origem do Café:</b> A planta de café é nativa da Etiópia, mas a bebida se espalhou por 
todo o mundo. O café como bebida ganhou popularidade pela primeira vez na Península Arábica, 
e a palavra "kahveh" em árabe deu origem ao termo "café" em muitas línguas.<br><br>

<b>Variedades de Café:</b> Existem duas principais variedades de grãos de café cultivados comercialmente: Arábica e Robusta. 
O Arábica é conhecido por seu sabor mais suave e acidez, enquanto o 
Robusta tem um sabor mais forte e mais cafeína.

								
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		
		 <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&copy; 2023 LC Blend Gourmet</p>
    </div>
    <!-- /.container -->
  </footer>

</body>
</html>
